<!-- ======= About Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="assets/img/souleymane-diallo.jpeg"
                                            class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Nom: </span> <span>Souleymane Diallo</span></p>
                                        <p><span class="title-s">Fonction: </span> <span>Développeur Full
                                                Stack</span></p>
                                        <p><span class="title-s">Email: </span> <a
                                                href="mailto: souleymanetimbidiallo@gmail.com">souleymanetimbidiallo&#64;gmail.com</a>
                                        </p>
                                        <p><span class="title-s">Phone: </span> <a href="tel:+33751457133">+33 7
                                                51 45 71 33</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf">
                                <h3>Compétences</h3>
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <p class="title-s">TECHNOLOGIES</p>
                                        <span>PHP, Symfony, Drupal</span> <span class="float-end">85%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 85%;"
                                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Java, Spring Boot</span> <span class="float-end">75%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="float-end" style="width: 75%"
                                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Python, Django</span> <span class="float-end">50%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 50%"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Angular, ExpressJS, NodeJS</span> <span class="float-end">70%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 70%"
                                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Flutter, Kotlin</span> <span class="float-end">50%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 50%"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-5">
                                        <p class="title-s">OUTILS</p>
                                        <span>Git</span> <span class="float-end">50%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 50%"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Office</span> <span class="float-end">90%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%"
                                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Linux, Windows</span> <span class="float-end">70%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 70%"
                                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>MySQL, Oracle</span> <span class="float-end">80%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 80%"
                                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Docker, Kubernetes</span> <span class="float-end">50%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 50%"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        A PROPOS DE MOI
                                    </h5>
                                </div>
                                <p class="lead">
                                    Bienvenue sur mon site portfolio ! Je suis un développeur full stack
                                    passionné par la programmation et les nouvelles technologies. Mon expertise
                                    englobe à la fois le développement Back-End et Front-End, me permettant de
                                    créer des expériences en ligne complètes et captivantes.
                                </p>
                                <p class="lead">
                                    Mon portfolio illustre ma passion pour la création de solutions techniques
                                    efficaces et esthétiques. Vous y découvrirez des projets démontrant ma
                                    capacité à résoudre des défis complexes et à collaborer au sein d'équipes
                                    interdisciplinaires. </p>
                                <p class="lead">
                                    Chaque ligne de code que j'écris vise l'excellence, l'efficacité et l'impact.
                                    Explorez mes projets, découvrez les technologies que j'utilise et n'hésitez pas
                                    à me contacter pour discuter de vos idées. Merci de visiter mon portfolio et de
                                    faire partie de mon parcours en tant que développeur full stack.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->