<header id="header" class="fixed-top" [class.header-scrolled]="isScrolled">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="index.html">Souleymane Diallo</a></h1>

    <nav id="navbar" class="navbar" [class.navbar-mobile]="mobileNavOpen">
      <ul>
        <li><a class="nav-link scrollto active" routerLink="/" fragment="hero" (click)="closeMobileNav()">{{ 'nav.home' | t }}</a></li>
        <li><a class="nav-link scrollto" routerLink="/" fragment="about" (click)="closeMobileNav()">{{ 'nav.about' | t }}</a></li>
        <li><a class="nav-link scrollto" routerLink="/" fragment="timeline" (click)="closeMobileNav()">{{ 'nav.timeline' | t }}</a></li>
        <li><a class="nav-link scrollto" routerLink="/" fragment="services" (click)="closeMobileNav()">{{ 'nav.services' | t }}</a></li>
        <li><a class="nav-link scrollto" routerLink="/" fragment="portfolio" (click)="closeMobileNav()">{{ 'nav.portfolio' | t }}</a></li>
        <li><a class="nav-link scrollto" routerLink="/" fragment="blog" (click)="closeMobileNav()">{{ 'nav.blog' | t }}</a></li>
        <li><a class="nav-link scrollto" routerLink="/" fragment="contact" (click)="closeMobileNav()">{{ 'nav.contact' | t }}</a></li>
        <li class="lang-switch-item">
          <button
            class="lang-switch-btn"
            type="button"
            (click)="languageService.toggleLanguage()"
            
          >
            {{ languageService.language() === 'fr' ? 'EN' : 'FR' }}
          </button>
        </li>
      </ul>
      <button
        class="mobile-nav-toggle bi"
        [ngClass]="mobileNavOpen ? 'bi-x' : 'bi-list'"
        type="button"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="mobileNavOpen"
        (click)="toggleMobileNav()"
      ></button>
    </nav>
  </div>
</header>
