<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="index.html">Souleymane Diallo</a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">{{ 'nav.home' | t }}</a></li>
        <li><a class="nav-link scrollto" href="#about">{{ 'nav.about' | t }}</a></li>
        <li><a class="nav-link scrollto" href="#timeline">{{ 'nav.timeline' | t }}</a></li>
        <li><a class="nav-link scrollto" href="#services">{{ 'nav.services' | t }}</a></li>
        <li><a class="nav-link scrollto" href="#portfolio">{{ 'nav.portfolio' | t }}</a></li>
        <li><a class="nav-link scrollto" href="#blog">{{ 'nav.blog' | t }}</a></li>
        <li><a class="nav-link scrollto" href="#contact">{{ 'nav.contact' | t }}</a></li>
        <li>
          <button class="btn btn-sm btn-outline-light" type="button" (click)="languageService.toggleLanguage()">
            {{ languageService.language() === 'fr' ? 'EN' : 'FR' }}
          </button>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
