    <!-- ======= Hero Section ======= -->
    <div id="hero" class="hero route bg-image" style="background-image: url(assets/img/hero-bg2.jpg)">
        <div class="overlay-itro"></div>
        <div class="hero-content display-table">
            <div class="table-cell">
                <div class="container"><h1 class="hero-title">Souleymane Diallo</h1>
                    <p class="hero-subtitle">
                      Je suis <span class="typed" data-typed-items="Développeur Web, Développeur Fullstack, Ingénieur Logiciel"></span>
                    </p>
                    
                    <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
                </div>
            </div>
        </div>
    </div><!-- End Hero Section -->
