<!-- ======= Services Section ======= -->
<section id="services" class="services-mf pt-5 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Services
                    </h3>
                    <p class="subtitle-a">
                        Découvrez comment je peux vous aider à réaliser vos projets créatifs et numériques
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-window-sidebar"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Développement Web</h2>
                        <p class="s-description text-center">
                            Avec une solide expérience en développement front-end et une expertise dans les technologies web modernes, je peux créer des sites web interactifs qui offrent une expérience utilisateur fluide. je suis prêt à transformer vos idées en réalité numérique.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-phone"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Développement Mobile</h2>
                        <p class="s-description text-center">
                            Profitez du potentiel de l'ère mobile avec des applications qui se démarquent. Que ce soit pour iOS ou Android, je peux concevoir et développer des applications mobiles intuitives et fonctionnelles qui répondent aux besoins de vos utilisateurs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Data & IA</h2>
                        <p class="s-description text-center">
                        Exploitez la puissance des données et de l'intelligence artificielle pour prendre des décisions. De l'analyse de données à la création de modèles, je peux vous aider à extraire des informations precieuses.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-binoculars"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Identité Visuelle</h2>
                        <p class="s-description text-center">
                            Votre identité visuelle est cruciale pour établir une image de marque mémorable. Je peux créer une identité visuelle complète pour votre entreprise, y compris la conception de logos, la sélection de couleurs et la création de guides de style cohérents.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-info-circle"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Consultation Créative</h2>
                        <p class="s-description text-center">
                            Besoin de conseils pour votre projet ou de solutions créatives pour surmonter un défi spécifique ? Je suis disponible pour des sessions de consultation où nous pouvons discuter de vos idées, de vos objectifs et élaborer des stratégies pour atteindre vos ambitions créatives.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="bi bi-people"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Collaboration Personnalisée</h2>
                        <p class="s-description text-center">
                            Chaque projet est unique, c'est pourquoi je m'engage à collaborer étroitement avec vous pour comprendre vos besoins spécifiques. Mon objectif est de fournir des solutions sur mesure qui reflètent votre vision tout en apportant une touche professionnelle.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->